* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: #A6CD57;
    color: #010101;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 10px 0; 
}

.cabecalho-imagem {
    width: 80px; 
    height: auto; 
    max-width: 100%; 
    margin: 0 px;
    padding: 0px 0; 
}

  .menu {
      display: inline-block; /* Permite que os itens fiquem lado a lado */
    width: 80px; 
    height: auto; 
    max-width: 100%;
      margin: 0 px;
      padding: 0px 0; 
      color: inherit; /* Herda a cor do texto do .cabecalho */
  }
.hazbin {
    background-image: linear-gradient(#F8F8F0, #F8F8F0);
    color: #032F1A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    min-height: 200px; /* Adicionei uma altura mínima para visualização */
    text-align: center;
}
body{
  font-family: "Inknut Antiqua", serif;
  }

.morador-pet{
  width: 10%;
  padding: 0 20px;
}

.VibraCampoCidade-title{
  padding: 10px 20px ;
}
.hazbin-title-um{
  padding:0 20px;
}
.hazbin-title-dois{
     padding:10px 20px;
}

.morador-imagem{
  width: 225px;
}

.insta-imagem{
  width: 25px;
}

.tiktok-imagem{
  width: 40px;
}

.email-imagem{
  width: 40px;
}